


<form action="/todo/ny" method="post" class="updateform">
    <input type="text" name="description" placeholder="New todo..." class="newTodoInput">
    <input type="submit" value="Save" class="submitBtn">
</form>

