<div class="inputContainer">

        <form action="/todo/{{id}}/redigera" method="post" class="updateform">
            <input type="text" name="description" value="{{description}}" class="editInput">
            <input type="submit" value="Save" class="submitBtn">
        </form>
</div>